/* banner.css */

article#bannerholder {width:auto;height:auto;position:relative;}


div#banner img {position:relative;transition:all 2s ease-in-out;-webkit-transition:all 2s ease-in-out;-moz-transition:all 2s ease-in-out;-ms-transition:all 2s ease-in-out; }
div#banner img:not(:first-child) {position:absolute;top:0px;left:0px}
div#banner img ~ img {transform:translateX(100%);-webkit-transform:translateX(100%);-moz-transform:translateX(100%);-ms-transform:translateX(100%);}

/* changing the values below can alter the actual animation. Go nuts!! */

div#banner img.active {transform:translate3d(-100%, 0,0);-moz-transform:translate3d(-100%, 0,0);-webkit-transform:translate3d(-100%, 0,0);-ms-transform:translate3d(-100%, 0,0);}
div#banner img.active + img {transform:translate3d(0%, 0,0);-moz-transform:translate3d(0%, 0,0);-webkit-transform:translate3d(-0%, 0,0);-ms-transform:translate3d(0%, 0,0);}


/* put custom animations here - just call this class as a third parameter on the js and it will be applied to the node */




ul#bannercontrol {width: 20%;
  display: block;
  position: absolute;
  right:1%;
  height: 8%;
  text-align:right;
  bottom:5%;
  z-index:100;
}

ul#bannercontrol li {display:inline-block;
                    width:0;
                    height:0;
                    padding:4%;
                    border-radius:50%;
                    background:rgb(255,255,255);
                    border:solid 3px rgb(103,104,107);
                    margin:0 1%;
                    transition:background 0.5s ease-in-out;
                    -webkit-transition:background 0.5s ease-in-out;
                    -moz-transition:background 0.5s ease-in-out;
                    -ms-transition:background 0.5s ease-in-out;
                    }

ul#bannercontrol li.active, ul#bannercontrol li:hover {background:rgb(103,104,107);}